$primary: #8454df;
$secondary: rgb(136, 136, 136);
$success: rgb(93, 179, 37);
$font-family-sans-serif: 'Roboto', sans-serif;
@import '../node_modules/bootstrap/scss/bootstrap.scss';

.contact-enter {
  opacity: 0;
}
.contact-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}
.contact-exit {
  opacity: 1;
}
.contact-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}
